<tr id=<%= dom_id person_detail %>>
  <th scope="row"><%= person_detail.full_name %></th> 
  <th scope="row"><%= t("models.#{person_detail.type}") %></th> 
  <th scope="row"><%= person_detail.email %></th> 
  <th scope="row">Administrador General</th> 
  <th scope="row"><%= person_detail.updated_at %></th>
  <th>
    <%= link_to "Ver", person_path(person_detail), { class: 'btn-sm btn-primary btn' } %>
  </th>
</tr>