<p style="color: green"><%= notice %></p>

<h1>Personas</h1>

<div id="persons">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Email</th>
        <th scope="col">Creado por</th>
        <th scope="col">Ultima actualizacion</th>
        <th scope="col">Ver detalles</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "person_detail", collection: @persons %>
    </tbody>
  </table>
</div>