<div class="card" style="width: 18rem;">
  <div class="card-header">
    Person
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Nombre: <%= @person.full_name %></li>
    <li class="list-group-item">Tipo: <%= @person.type %></li>
    <li class="list-group-item">Email: <%= @person.email %></li>
  </ul>
</div>

<div class="card mt-4" style="width: 18rem;">
  <div class="card-header">
    Relaciones
  </div>
  <ul class="list-group list-group-flush">
    <% @person.person_types.each do |cargo| %>
      <li class="list-group-item">Es <%= cargo.first %> de la compañia <%= cargo.last %></li>
    <% end %>
  </ul>
</div>