<tr id=<%= dom_id company_detail %>>
  <th scope="row"><%= company_detail.common_name %></th> 
  <th scope="row"><%= t("models.#{company_detail.type}") %></th> 
  <th scope="row"><%= company_detail.email_company %></th> 
  <th scope="row">Administrador General</th> 
  <th scope="row"><%= company_detail.category_name %></th>
  <th scope="row"><%= company_detail.updated_at %></th>
  <th>
    <%= link_to "Ver", company_path(company_detail), { class: 'btn-sm btn-primary btn' } %>
  </th>
</tr>