<div class="card" style="width: 18rem;">
  <div class="card-header">
    Empresa
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Nombre: <%= @company.common_name %></li>
    <li class="list-group-item">Tipo: <%= @company.type %></li>
    <li class="list-group-item">Email: <%= @company.email_company %></li>
  </ul>
</div>

<div class="mt-3 row row-cols-1 row-cols-md-3 g-4">
  <% @company.areas.each do |area| %>
  <div class="col">
    <div class="card mt-4" style="width: 18rem;">
      <div class="card-header">
        Area
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Nombre: <%= area %>
      </ul>
      </div>
    </div>
  <% end %>
</div>

<div class="mt-3 row row-cols-1 row-cols-md-3 g-4">
  <% @company.employees.each do |employee| %>
  <div class="col">
    <div class="card mt-4" style="width: 18rem;">
      <div class="card-header">
        Persona
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Nombre: <%= employee.second %>
        <% employee.last.each do |cargo| %>
          <li class="list-group-item">Es <%= cargo %></li>
        <% end %>
        <li class="list-group-item">
            <%= link_to "Ver", person_path(employee.first), { class: 'btn-sm btn-primary btn' } %>
        </li>
      </ul>
      </div>
    </div>
  <% end %>
</div>