<div class="mb-3 container col-5">
  <%= form_with(model: party_company_detail, class: "form-control" ) do |form| %>
    <% if party_company_detail.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(party_company_detail.errors.count, "error") %> prohibited this party_company_detail from being saved:</h2>

        <ul>
          <% party_company_detail.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :common_name, "Razón Social", style: "display: block", class: "form-label" %>
      <%= form.text_field :common_name, class: "form-control" %>
    </div>

    <div>
      <%= form.label :official_name,"Nombre Oficial", style: "display: block", class: "form-label mt-3"  %>
      <%= form.text_field :official_name, class: "form-control" %>
    </div>

    <div>
      <%= form.label :taxes_registry_number,"Registro único tributario (RUT)", style: "display: block", class: "form-label mt-3" %>
      <%= form.text_field :taxes_registry_number, class: "form-control" %>
    </div>

    <div>
      <%= form.label :country_code, "Pais", style: "display: block", class: "form-label mt-3" %>
      <%= form.select(:country_code, [["Chile", "CL"], ["Peru", "PE"], ["Ecuador", "EC"], ["Colombia", "CO"], ["Brazil", "BR"]], {}, { class: 'form-select' }) %>
    </div>

    <div>
      <%= form.label :company_address, "Dirección", style: "display: block", class: "form-label mt-3" %>
      <%= form.text_field :company_address, class: "form-control" %>
    </div>
    <div>
      <%= form.label :category, "Rubro", style: "display: block", class: "form-label mt-3" %>
      <%= form.select(:category_id, Category.all.pluck(:name, :id), {}, { class: 'form-select' }) %>
    </div>

    <div>
      <%= form.label :email_company, "Email", style: "display: block", class: "form-label mt-3" %>
      <%= form.text_field :email_company, class: "form-control" %>
    </div>

    <div class="mt-3">
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Agregar Responsable
      </a>
    </div>
    <div class="form-control mt-4 collapse" id="collapseExample">
      <div>
        <%= form.label :first_name, "Nombre(s) representante legal", style: "display: block", class: "form-label mt-3" %>
        <%= form.text_field :first_name, class: "form-control" %>
      </div>

      <div>
        <%= form.label :last_name, "Apellido(s) representante legal", style: "display: block", class: "form-label mt-3" %>
        <%= form.text_field :last_name, class: "form-control" %>
      </div>

      <div>
        <%= form.label :phone, "Telefono", style: "display: block", class: "form-label mt-3" %>
        <%= form.text_field :phone, class: "form-control" %>
      </div>

      <div>
        <%= form.label :identification_document_type, "Tipo de documento", style: "display: block", class: "form-label mt-3" %>
        <%= form.select(:identification_document_type, [["RUT", 1], ["RUC", 2], ["DNI", 3]], {}, { class: 'form-select' }) %>
      </div>

      <div>
        <%= form.label :identification_document_number, "Numero documento identidad", style: "display: block", class: "form-label mt-3" %>
        <%= form.text_field :identification_document_number, class: "form-control" %>
      </div>

      <div>
        <%= form.label :email, "Email", style: "display: block", class: "form-label mt-3" %>
        <%= form.text_field :email, class: "form-control" %>
      </div>

      <div>
        <%= form.label :person_address, "Dirección", style: "display: block", class: "form-label mt-3" %>
        <%= form.text_field :person_address, class: "form-control" %>
      </div>
    </div>

    <div>
        <% action = action_name == 'new' ? 'Crear' : 'Editar' %>
        <%= form.submit "#{action} compañia", class: "btn btn-primary mt-3" %>
    </div>
  <% end %>
</div>
