<tr id="<%= party_company_detail.id %>">
  <th scope="row"><%= party_company_detail.name %></th>
  <th scope="row"><%= t("models.#{party_company_detail.type}") %></th>
  <th scope="row"><%= party_company_detail.email %></th>
  <th scope="row"><%= party_company_detail.management %></th>
  <th scope="row">Administrador General</th>
  <th scope="row"><%= party_company_detail.updated_at %></th>  
</tr>
