<h1>Editing party company detail</h1>

<%= render "form", party_company_detail: @party_company_detail %>

<br>

<div>
  <%= link_to "Show this party company detail", @party_company_detail %> |
  <%= link_to "Back to party company details", party_company_details_path %>
</div>
