<p style="color: green"><%= notice %></p>

<h1>Directorio</h1>

<div id="party_company_details">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo</th>
        <th scope="col">Email</th>
        <th scope="col">Relacion</th>
        <th scope="col">Creado por</th>
        <th scope="col">Ultima actualizacion</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "party_company_detail", collection: @companies %>
    </tbody>
  </table>
</div>
