<p style="color: green"><%= notice %></p>

<%= render @party_company_detail %>

<div>
  <%= link_to "Edit this party company detail", edit_party_company_detail_path(@party_company_detail) %> |
  <%= link_to "Back to party company details", party_company_details_path %>

  <%= button_to "Destroy this party company detail", @party_company_detail, method: :delete %>
</div>
