<div class="mb-3 container col-5">
  <%= form_with(model: party_person_detail, class: "form-control" ) do |form| %>
    <% if party_person_detail.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(party_person_detail.errors.count, "error") %> prohibited this party_company_detail from being saved:</h2>

        <ul>
          <% party_person_detail.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :first_name, "Nombre(s)", style: "display: block", class: "form-label mt-3" %>
      <%= form.text_field :first_name, class: "form-control" %>
    </div>

    <div>
      <%= form.label :last_name, "Apellido(s)", style: "display: block", class: "form-label mt-3" %>
      <%= form.text_field :last_name, class: "form-control" %>
    </div>

    <div>
      <%= form.label :phone, "Telefono", style: "display: block", class: "form-label mt-3" %>
      <%= form.text_field :phone, class: "form-control" %>
    </div>

    <div>
      <%= form.label :identification_document_type, "Tipo de documento", style: "display: block", class: "form-label mt-3" %>
      <%= form.select(:identification_document_type, [["RUT", 1], ["RUC", 2], ["DNI", 3]], {}, { class: 'form-select' }) %>
    </div>

    <div>
      <%= form.label :identification_document_number, "Numero documento identidad", style: "display: block", class: "form-label mt-3" %>
      <%= form.text_field :identification_document_number, class: "form-control" %>
    </div>

    <div>
      <%= form.label :email, "Email", style: "display: block", class: "form-label mt-3" %>
      <%= form.text_field :email, class: "form-control" %>
    </div>

    <div>
      <%= form.label :person_address, "Dirección", style: "display: block", class: "form-label mt-3" %>
      <%= form.text_field :person_address, class: "form-control" %>
    </div>

    <div>
      <%= form.label :company, "Compañia", style: "display: block", class: "form-label mt-3" %>
      <%= form.select(:company_id, PartyCompanyDetail.all.pluck(:official_name, :id), {}, { class: 'form-select' }) %>
    </div>

    <div>
        <% action = action_name == 'new' ? 'Crear' : 'Editar' %>
        <%= form.submit "#{action} persona", class: "btn btn-primary mt-3" %>
    </div>
  <% end %>
</div>
