<!DOCTYPE html>
<html>
  <head>
    <title>DirectoryDemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="d-flex flex-column" style="min-height: 100vh">
    <%= render "shared/nav" %>
    </br>
    <div class="container flex-fill">
      <div class="flex-xl-nowrap">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
